/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.timer {
    display: flex;
    align-items: center;
    font-size: 36px;
}

#minutes, #seconds {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}
#start-button {
    background-color: darkmagenta;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 7px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
}

#start-button:hover {
    background-color: purple;
}
.separator {
    margin: 0 10px;
}

#popoverButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

body {
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

/* Header styles */
header {
    padding: 0 32px;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

header nav ul li a:hover {
    color: darkmagenta;
}

/* Main Content styles */
.main-content {
    padding: 80px 32px;
    text-align: center;
    margin-bottom: 200px;
}

.main-content h1 {
    font-size: 50px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.main-content p {
    margin-top: 16px;
    font-size: 32px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 60px;
}

/* Button styles */
.action_btn {
    background-color: darkmagenta;
    color: #fff;
    padding: 8px 16px;
    border: none;
    outline: none;
    border-radius: 7px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2s ease;
}

.action_btn:hover {
    transform: scale(1.05);
    color: #fff;
}

.action_btn:active {
    transform: scale(0.95);
}

/* Footer styles */
footer {
    background-color: black;
    padding: 20px 0;
    text-align: center;
}

footer p {
    color: #fff;
}

.navbar {
    background-color: black;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand,
.nav-link {
    color: #fff;
}

.text-purple {
    color: purple;
}

.card-text-wide {
    width: 80%;
}
.larger-font {
    font-size: 3rem;
}

.carousel {
    margin: 100px;
    margin-bottom: 700px;
}

.preparation-form{
    margin-top: 500px;
}


/* Quiz Container styles */
.quiz-container {
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding: 20px;
}

.quiz-container h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

/* Categories styles */
.categories {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.category {
    background-color: purple;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 10px;
}

.category h3 {
    font-size: 18px;
}

/* Quiz Items styles */
.quiz-items {
    display: flex;
    justify-content: center;
}

.quiz-item {
    background-color: darkmagenta;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 18px;
}

.quiz-item.vowel {
    background-color: darkmagenta; /* Set to your preferred vowel color */
}

.quiz-item.consonant {
    background-color: purple; /* Set to your preferred consonant color */
}

/* Hover styles for quiz items */
.quiz-item:hover {
    background-color: purple;
}

/* Animation for quiz items */
.quiz-item {
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.quiz-item:hover {
    transform: scale(1.05);
}

/* Button styles for the quiz items */
.quiz-item:active {
    transform: scale(0.95);
}

.form-container {
    background-color: purple;
    color: white;
    font-family: 'Open Sans', sans-serif;
    width: 360px;
    height: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}