* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 1000px;
    background-color: black;
    background-size: cover;
    background-position: center;
    font-family: 'Open Sans', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

a:hover {
    color: darkmagenta;
}

header {
    position: relative;
    padding: 0 32px;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

header nav ul li a:hover {
    color: darkmagenta;
}

.action_btn {
    background-color: darkmagenta;
    color: #fff;
    padding: 8px 16px;
    border: none;
    outline: none;
    border-radius: 7px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2s ease;
}

.action_btn:hover {
    scale: 1.05;
    color: #fff;
}

.action_btn:active {
    scale: 0.95;
}

.btn-purple {
    background-color: darkmagenta;
    color: #fff;
    padding: 8px 16px;
    border: none;
    outline: none;
    border-radius: 7px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2s ease;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding-bottom: 20px;
}


#animate-button{
    background-color: darkmagenta;
    color: #fff;
    padding: 8px 16px;
    border: none;
    outline: none;
    border-radius: 7px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2s ease;
}

#animated-button{
    background-color: darkmagenta;
    color: #fff;
    padding: 8px 16px;
    border: none;
    outline: none;
    border-radius: 7px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2s ease;
}

.first_block {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: black;
}

.first_block h1 {
    font-size: 70px;
    font-weight: bold;
    padding-top: 20px;
}

.first_block h2 {
    font-size: 50px;
    font-weight: bold;
    padding-top: 20px;
    color: darkmagenta;
}

.first_block a {
    background-color: darkmagenta;
    color: #fff;
    padding: 8px 12px;
    border: none;
    outline: none;
    border-radius: 7px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2s ease;
    margin-top: 20px;
}

.first_block a:hover {
    scale: 1.05;
    color: #fff;
}

.first_block a:active {
    scale: 0.95;
}

.main {
    background-color: black;
    padding: 160px 0;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__content {
    color: #fff;
    width: 100%;
}

.main__content h1 {
    font-size: 32px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 32px;
    padding-top: 10px;
}

.main__content h2 {
    font-size: 64px;
    color: darkmagenta;
    background-size: 100%;
}

.main__content p {
    margin-top: 16px;
    font-size: 32px;
    font-weight: 700;
}

.main__btn {
    background-color: darkmagenta;
    padding: 20px 60px;
    border: none;
    border-radius: 4px;
    margin-top: 32px;
    cursor: pointer;
    position: relative;
    outline: none;
    font-size: 20px;
}

.main__btn a:hover{
    scale: 1.05;
    color: #fff;
}

.main__btn a:active {
    scale: 0.95;
}

.main__img--container {
    text-align: center;
}

.main__img--card {
    margin: 10px;
    height: 500px;
    width: 500px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

.fa-chalkboard,
.fa-graduation-cap {
    font-size: 225px;
}

#card-2 {
    color: #fff;

}

.wrapper {
    height: 500px;
    display: flex;
}

.wrapper form {
    justify-content: right;
}

.main__content form {
    margin: 0;
    box-sizing: border-box;
    width: 420px;
    background: purple;
    color: #fff;
    border-radius: 10px;
    padding: 20px 20px;

}

.main__content form h1 {
    font-size: 36px;
    text-align: center;
}

.main__content .input-bot {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-bot input {
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.input-bot input::placeholder {
    color: #fff;
}

.input-bot i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.footer {
    background-color: black;
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer__logo {
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 32px;
}

.website__rights {
    color: #fff;
}

.navbar {
    background-color: black;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand,
.nav-link {
    color: #fff;
}

.btn-purple {
    background-color: purple;
    color: white;
}

.btn-purple:hover {
    background-color: #650265;
    color: white;
}

.form-container {
    background-color: purple;
    color: white;
    font-family: 'Open Sans', sans-serif;
    width: 360px;
    height: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

.bsgrid {
    background-color: black;
    color: white;
    font-family: 'Open Sans', bold;
    padding: 50px;
    font-size: 25px;
}


.grid1 {
    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 30px;
    padding-top: 200px;
    padding-bottom: 200px;
}

#popoverButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
}






